<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>add-product</title>
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css"/>
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="css/css-upload/jquery.fileupload.css">
    <link rel="stylesheet" href="css/css-upload/jquery.fileupload-ui.css">
    <link rel="stylesheet" href="css/vendor/jquery.bxslider.css"/>
    <link rel="stylesheet" href="css/vendor/jquery.multilevelpushmenu.min.css"/>
    <link rel="stylesheet" href="css/vendor/basichtml.css"/>
    <link rel="stylesheet" href="css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/media.css"/>
</head>
<body>
    <div id="modalBack"></div>
    <header>
        <div class="container">
            <div class="row">
                <div class="first-line">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <ul class="toggle-lang">
                            <li class="active"><a href="#" class="active">Рус</a></li>
                            <li class="active">/</li>
                            <li><a href="#">Укр</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <p class="work-phone pull-right"><a href="tel:+3805045634">+38 05045634</a></p>
                        <ul class="social-header pull-right">
                            <li><a href="#" class="social-ico"><i class="fa fa-phone"></i></a></li>
                        </ul>
                        <p class="work-phone pull-right"><a href="tel:+3805045634">showplus.in.ua </a></p>
                        <ul class="social-header pull-right">
                            <li><a href="#" class="social-ico"><i class="fa fa-skype"></i></a></li>
                        </ul>
                        <p class="work-phone pull-right"><a href="tel:+3805045634">vk.com/penashowplus</a></p>
                        <ul class="social-header pull-right">
                            <li><a href="#" class="social-ico"><i class="fa fa-vk"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="wrap-header-block">
                    <!--<div class="wrap-left-block">-->
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="wrap-header-block">
                            <!--<div class="wrap-left-block">-->
                                <h1 class="wrap-logo">
                                    <a href="">
                                        <div class="image-holder">
                                            <img src="img/icons/main-logo.png" alt="">
                                        </div>
                                    </a>
                                </h1>
                            <!--</div>-->
                            </div>
                        </div>
                    <!--</div>-->
                    <!--<div class="wrap-right-block">-->
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="wrap-header-block">
                                <h5>доска обьявлениий б/у музыкальных инструментов</h5>
                            <!--<div class="wrap-right-block">-->
                                <form action="#" class="pull-right" id="search" role="search">
                                    <div class="input-group">
                                        <input type="text" id="search-text" class="form-control" placeholder="32 120 объявлений на сайте">
                                    <span class="input-group-btn">
                                        <button id="search-btn" class="btn btn-default" type="button">Поиск</button>
                                    </span>
                                    </div>
                                </form>
                            <!--</div>-->
                            </div>
                        </div>
                    <!--</div>-->
                </div>

            </div>
            <div class="row">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav nav-pills nav-justified">
                            <li class="active"><a href="index.html" class="text-uppercase">Главная</a></li>
                            <li><a href="#" class="text-uppercase">Новости <span class="sr-only">(current)</span></a></li>
                            <li><a href="for-sellers.html" class="text-uppercase">Продавцам</a></li>
                            <li><a href="#" class="text-uppercase">Покупателям</a></li>
                            <li><a href="#" class="text-uppercase">Форум</a></li>
                            <li class="act"><a href="add-product.html" class="text-uppercase">Подать обьявление</a></li>
                        </ul>
                    </div>

                    <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
                        <!--<ul class="nav navbar-nav">-->
                            <!--<li><a href="#" class="text-uppercase">Новости <span class="sr-only">(current)</span></a></li>-->
                            <!--<li><a href="#" class="text-uppercase">Продавцам</a></li>-->
                            <!--<li><a href="#" class="text-uppercase">Покупателям</a></li>-->
                            <!--<li><a href="#" class="text-uppercase">Специальные предложения</a></li>-->
                            <!--<li><a href="#" class="text-uppercase">Форум</a></li>-->
                            <!--<li class="active"><a href="#" class="text-uppercase">Подать обьявление</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                </nav>
            </div>
        </div>
    </header>
    


    <section class="add-product">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="add-holder">
                        <h1>
                            Подать бесплатное объявление на XLR
                        </h1>
                        <hr>
                        <form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="side-desc">
                                    <label>
                                        Заголовок
                                        <span class="important">*</span>
                                    </label>
                                </div>
                                <input type="text" title="Напишите заголовок для Объявления">
                                <div class="bott-desc">
                                    <span>
                                        максимально 200 знаков
                                    </span>
                                </div>
                            </div>
                             <div class="form-group">
                                <div class="side-desc">
                                    <label for="speed">
                                        Выбрать рубрику
                                        <span class="important">*</span>
                                    </label>
                                </div>
                                <a href="#" data-toggle="modal" id="categoryModalBtn">
                                    <div class="fixbord">
                                        
                                    </div>
                                </a>
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="side-desc">
                                    <label>
                                        Описание товара
                                        <span class="important">*</span>
                                    </label>
                                </div>
                                <textarea title="Заполните описание товара"></textarea>
                                <div class="bott-desc">
                                    <span>
                                        максимально 2000 знаков
                                    </span>
                                </div>
                            </div>
                            <div class="form-group upload" title="Загрузите фотографии для вашего объявления">
                                <div class="side-desc">
                                    <label>
                                        <i class="fa fa-picture-o"></i>
                                        Загрузите фото
                                        <span>&nbsp</span>
                                    </label>
                                </div>
                                <hr>
                                <div class="fileupload-buttonbar">
                                    <div>
                                        <!-- The fileinput-button span is used to style the file input field as button -->
                                        <span class="btn btn-success fileinput-button">
                                            <i class="fa fa-plus-circle"></i>
                                            <span>Добавить фото</span>
                                            <input type="file" name="files[]" multiple>
                                        </span>
                                        <button type="submit" class="btn btn-primary start">
                                            <i class="fa fa-cloud-upload"></i>
                                            <span>Загрузить все</span>
                                        </button>
                                        <button type="reset" class="btn btn-warning cancel">
                                            <i class="fa fa-stop"></i>
                                            <span>Отменить загрузку</span>
                                        </button>
                                        <button type="button" class="btn btn-danger delete">
                                            <i class="fa fa-times"></i>
                                            <span>Удалить</span>
                                        </button>
                                        <input type="checkbox" class="toggle">
                                        <!-- The global file processing state -->
                                        <span class="fileupload-process"></span>
                                    </div>
                                    <!-- The global progress state -->
                                    <div class="col-lg-5 fileupload-progress fade">
                                        <!-- The global progress bar -->
                                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                        </div>
                                        <!-- The extended global progress state -->
                                        <div class="progress-extended">&nbsp;</div>
                                    </div>
                                </div>
                                <!-- The table listing the files available for upload/download -->
                                <table role="presentation" class="table table-striped">
                                    <tbody class="files">
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="side-desc">
                                    <label>
                                        <i class="fa fa-map-marker"></i>
                                        Адрес
                                        <span class="important">*</span>
                                    </label>
                                </div>
                                <input type="text" title="Ваш адрес!">
                                <div class="bott-desc">
                                    <span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="side-desc">
                                    <label>
                                        <i class="fa fa-user"></i>
                                        Контактное лицо
                                        <span class="important">*</span>
                                    </label>
                                </div>
                                <input type="text" title="Как к вам обащаться?">
                                <div class="bott-desc">
                                    <span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="side-desc">
                                    <label>
                                        <i class="fa fa-envelope"></i>
                                        Email-aдрес
                                        <span class="important">*</span>
                                    </label>
                                </div>
                                <input type="text" title="Ваша електронная почта!">
                                <div class="bott-desc">
                                    <span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="side-desc">
                                    <label>
                                        <i class="fa fa-mobile"></i>
                                        Телефон
                                        <span class="important">*</span>
                                    </label>
                                </div>
                                <input type="text" title="Номер вашего телефона">
                                <div class="bott-desc">
                                    <span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="side-desc">
                                    <label>
                                        <i class="fa fa-skype"></i>
                                        Skype
                                        <span>&nbsp</span>
                                    </label>
                                </div>
                                <input type="text">
                                <div class="bott-desc">
                                    <span>
                                    </span>
                                </div>
                            </div>
                             <div class="form-group text-right">
                                <div class="side-desc">
                                </div>
                                <div class="public-btn">
                                    <input type="checkbox">
                                    <label>
                                        я согдасен(на) с <a href="">правилаим</a> сервиса
                                    </label>
                                    <button>
                                        Разместить
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
                            <div class="slides"></div>
                            <h3 class="title"></h3>
                                <a class="prev">‹</a>
                                <a class="next">›</a>
                                <a class="close">×</a>
                                <a class="play-pause"></a>
                            <ol class="indicator"></ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-foot-nav">
                        <ul class="list-inline">
                            <li>
                                <a href="">
                                    <span>Главная</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span>Новости</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span>Продавцам</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span>Покупателям</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span>Форум</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="logo-holder">
                        <a href="">
                            <img src="img/icons/logo-rt.png" alt="">
                        </a>
                    </div>
                    <div class="tags">
                        <ul class="list-inline">
                            <li>
                                <span><b>Рубрики:</b></span>
                            </li>
                            <li>
                                <a href="">
                                    <span>Световое оборудование,</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span>Звуковое оборудование,</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span>Мультимедийное оборудование,</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span>Специальные эффекты,</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span>DJ оборудование,</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span>Электрообордование,</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span>Музыкальные инструменты,</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span>Коммутационное оборудование,</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span>Сцены, </span>
                                </a>
                            </li>
                             <li>
                                <a href="">
                                    <span>Кейсы. </span>
                                </a>
                            </li>
                        </ul>
                        <span><b></b>         
                                </span>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <div class="search-corner">
                        <h1>Поиск по сайту</h1>
                        <form action="">
                            <div class="form-group">
                                <input type="text">
                                <button>
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                        <div class="social-list">
                            <ul class="list-inline">
                                <li>
                                    <a href="">
                                        <i class="fa fa-vk"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="share-holder">
            <hr>    
            <div class="share-block">
                <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir" data-size="s"></div>
            </div>
        </div>
        <div class="foot-sign">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <a href="">
                            <span>© 2015 XLR</span>
                        </a>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href=""><span>XLR-help@xlr.com</span></a>
                    </div>
                    <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                        <form action="">
                            <div class="form-group">
                                <input type="text">
                                <button>
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div> -->
                </div>
            </div>
        </div>
    </footer>


    <!-- =============  Modal window right   ============== -->
    <div id="modal-right">
        <div id="fixed-right-block">
            <a href="#" data-toggle="modal" data-target=".bs-example-mm">Задать вопрос консультанту</a>
            <i class="fa fa-commenting-o"></i>
        </div>

        <div class="modal fade bs-example-mm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="row">
                        <div class="wrap-container-ask">
                            <div class="container-ask">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <form role="form">
                                    <div class="form-group">
                                        <label for="#exampleInputEmail1">Email</label>
                                        <input type="email" class="form-control" id="exampleInputEmail " placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label for="#exampleInputEmail1">Задать вопрос</label>
                                        <textarea class="form-control" rows="3" placeholder="Написать сообщение..."></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-default">Отправить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =============  Modal window left end  ============== -->
    <div id="modal-left">
        <div id="fixed-left-block">
            <a href="#" class="fixed-video-button" data-toggle="modal" data-target=".bs-example-mm2"><i class="fa fa-caret-square-o-right"></i></a>
        </div>

        <div class="modal fade bs-example-mm2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4>Как пользоваться сайтом:</h4>
                    <div class="video">
                        <!-- <iframe width="854" height="480" src="https://www.youtube.com/embed/CesSdyftWSg" frameborder="0" allowfullscreen></iframe> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="categoryModal">
        <div class="content">
            <button class="btn-close"></button>
            <div class="modal-body">
                <!-- <div class="category-holder clearfix">
                   <a href="#" datatarget="cat1" class="cat-btn" class="cat-btn">
                        <div class="cat-holder">
                           <div class="image-holder">
                               <img src="img/content/case.png" alt="">
                           </div>
                           <div class="text-holder">
                               <span>
                                   Специальные эффекты (дым, снег, СО2)
                               </span>
                           </div>
                        </div>
                   </a>
                   <a href="#" datatarget="cat1" class="cat-btn">
                        <div class="cat-holder">
                           <div class="image-holder">
                               <img src="img/content/case.png" alt="">
                           </div>
                           <div class="text-holder">
                               <span>
                                   Специальные эффекты (дым, снег, СО2)
                               </span>
                           </div>
                        </div>
                   </a>
                   <a href="#" datatarget="cat1" class="cat-btn">
                        <div class="cat-holder">
                           <div class="image-holder">
                               <img src="img/content/case.png" alt="">
                           </div>
                           <div class="text-holder">
                               <span>
                                   Специальные эффекты (дым, снег, СО2)
                               </span>
                           </div>
                        </div>
                   </a>
                   <a href="#" datatarget="cat1" class="cat-btn">
                        <div class="cat-holder">
                           <div class="image-holder">
                               <img src="img/content/case.png" alt="">
                           </div>
                           <div class="text-holder">
                               <span>
                                   Специальные эффекты (дым, снег, СО2)
                               </span>
                           </div>
                        </div>
                   </a>
                   <a href="#" datatarget="cat1" class="cat-btn">
                        <div class="cat-holder">
                           <div class="image-holder">
                               <img src="img/content/case.png" alt="">
                           </div>
                           <div class="text-holder">
                               <span>
                                   Специальные эффекты (дым, снег, СО2)
                               </span>
                           </div>
                        </div>
                   </a>
                   <a href="#" datatarget="cat1" class="cat-btn">
                        <div class="cat-holder">
                           <div class="image-holder">
                               <img src="img/content/case.png" alt="">
                           </div>
                           <div class="text-holder">
                               <span>
                                   Специальные эффекты (дым, снег, СО2)
                               </span>
                           </div>
                        </div>
                   </a>
                   <a href="#" datatarget="cat1" class="cat-btn">
                        <div class="cat-holder">
                           <div class="image-holder">
                               <img src="img/content/case.png" alt="">
                           </div>
                           <div class="text-holder">
                               <span>
                                   Специальные эффекты (дым, снег, СО2)
                               </span>
                           </div>
                        </div>
                   </a>
                   <a href="#" datatarget="cat1" class="cat-btn">
                        <div class="cat-holder">
                           <div class="image-holder">
                               <img src="img/content/case.png" alt="">
                           </div>
                           <div class="text-holder">
                               <span>
                                   Специальные эффекты (дым, снег, СО2)
                               </span>
                           </div>
                        </div>
                   </a>
                   <a href="#" datatarget="cat1" class="cat-btn">
                        <div class="cat-holder">
                           <div class="image-holder">
                               <img src="img/content/case.png" alt="">
                           </div>
                           <div class="text-holder">
                               <span>
                                   Специальные эффекты (дым, снег, СО2)
                               </span>
                           </div>
                        </div>
                   </a>
                   <a href="#" datatarget="cat1" class="cat-btn">
                        <div class="cat-holder">
                           <div class="image-holder">
                               <img src="img/content/case.png" alt="">
                           </div>
                           <div class="text-holder">
                               <span>
                                   Специальные эффекты (дым, снег, СО2)
                               </span>
                           </div>
                        </div>
                   </a>
                </div> -->
                <div class="multi-menu">
                    <ul class="lv-1">
                        <li class="active"> 
                            <div class="cat-holder-lv-1">
                                <span>Cat1</span>
                            </div>
                            <ul class="lv-2">
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetrrtrgoru1</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetrrtrgoru341</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetrrt4rgoru1</span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="cat-holder-lv-1">
                                <span>Cat2</span>
                            </div>
                            <ul class="lv-2">
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetr6rtrgoru1</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetrr7trgoru1</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetr8rtrgoru1</span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="cat-holder-lv-1">
                                <span>Cat3</span>
                            </div>
                            <ul class="lv-2">
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetr9rtrgoru1</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetr7rtrgoru1</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetr6rtrgoru1</span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li><div class="cat-holder-lv-1">
                                <span>Cat4</span>
                            </div> 
                            <ul class="lv-2">
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetr6rtrgoru1</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetr5rtrgoru1</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetr7rtrgoru1</span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="cat-holder-lv-1">
                                <span>Cat5</span>
                            </div>
                            <ul class="lv-2">
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetr9rtrgoru1</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetrr6trgoru1</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetrrtrgoru1</span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="cat-holder-lv-1">
                                <span>Cat6</span>
                            </div>
                            <ul class="lv-2">
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetrrt5rgoru1</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetr9rtrgoru1</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetrrt0rgoru1</span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="cat-holder-lv-1">
                                <span>Cat7</span>
                            </div>
                            <ul class="lv-2">
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetrr6trgoru1</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetrrt4rgoru1</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetrr3trgoru1</span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="cat-holder-lv-1">
                                <span>Cat8</span>
                            </div>
                            <ul class="lv-2">
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetrrt87rgoru1</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetrr423trgoru1</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetrrt546rgoru1</span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="cat-holder-lv-1">
                                <span>Cat9</span>
                            </div>
                            <ul class="lv-2">
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetr36trgoru1</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetr264rtrgoru1</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetrr467trgoru1</span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="cat-holder-lv-1">
                                <span>Cat10</span>
                            </div>
                            <ul class="lv-2">
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetrr356trgoru1</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetr4367rtrgoru1</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="cat-holder-lv-2">
                                        <span>Catetrr453trgoru1</span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="cat-bredcrumbs">
                    <ul>
                        <li class="br-lv-1">
                            
                        </li>
                        <li class="br-lv-2">
                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="js/vendor/jquery-2.1.4.min.js"></script>
    <script src="js/vendor/jquery-ui.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/jquery.bxslider.min.js"></script>
    <script src="js/vendor/jquery.multilevelpushmenu.min.js"></script>
    <script src="js/vendor/basichtml.js"></script>
    <script src="js/product.js"></script>
    <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
    <script>
        $(function() {
        var tooltips = $( "[title]" ).tooltip({
          position: {
            my: "left top",
            at: "right+5 top-5"
          }
        });
        });
    </script>
    <script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
            <td>
                <span class="preview"></span>
            </td>
            <td>
                <p class="name">{%=file.name%}</p>
                <strong class="error text-danger"></strong>
            </td>
            <td>
                <p class="size">Processing...</p>
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            </td>
            <td>
                {% if (!i && !o.options.autoUpload) { %}
                    <button class="btn btn-primary start" disabled>
                        <i class="fa fa-check-circle-o"></i>
                        <span>Загрузить</span>
                    </button>
                {% } %}
                {% if (!i) { %}
                    <button class="btn btn-warning cancel">
                        <i class="fa fa-stop"></i>
                        <span>Отменить</span>
                    </button>
                {% } %}
            </td>
        </tr>
    {% } %}
    </script>
    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
            <td>
                <span class="preview">
                    {% if (file.thumbnailUrl) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                    {% } %}
                </span>
            </td>
            <td>
                <p class="name">
                    {% if (file.url) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                    {% } else { %}
                        <span>{%=file.name%}</span>
                    {% } %}
                </p>
                {% if (file.error) { %}
                    <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                {% } %}
            </td>
            <td>
                <span class="size">{%=o.formatFileSize(file.size)%}</span>
            </td>
            <td>
                {% if (file.deleteUrl) { %}
                    <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                        <i class="fa fa-times"></i>
                        <span>Удалить</span>
                    </button>
                    <input type="checkbox" name="delete" value="1" class="toggle">
                {% } else { %}
                    <button class="btn btn-warning cancel">
                        <i class="fa fa-times"></i>
                        <span>Удалить</span>
                    </button>
                {% } %}
            </td>
        </tr>
    {% } %}
    </script>
    <script src="js/js-upload/vendor/jquery.ui.widget.js"></script>
    <script src="//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
    <!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
    <!-- blueimp Gallery script -->
    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="js/js-upload/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="js/js-upload/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="js/js-upload/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="js/js-upload/jquery.fileupload-image.js"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="js/js-upload/jquery.fileupload-audio.js"></script>
    <!-- The File Upload video preview plugin -->
    <script src="js/js-upload/jquery.fileupload-video.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="js/js-upload/jquery.fileupload-validate.js"></script>
    <!-- The File Upload user interface plugin -->
    <script src="js/js-upload/jquery.fileupload-ui.js"></script>
    <!-- The main application script -->
    <script src="js/js-upload/main.js"></script>
    <script>
    $('#categoryModalBtn').on('click', function() {
        $('#categoryModal .content').toggleClass('open');
        $('#modalBack').toggleClass('active');
        $('body').toggleClass('modalOpen')
    });

    $('#categoryModal .btn-close').on('click', function(){
        $('#categoryModal .content').removeClass('open');
        $('#modalBack').removeClass('active')
        $('body').removeClass('modalOpen')
    });
    $('#categoryModal .lv-1 li ').on('click', function() {
        // event.stopPropagation();
       $('#categoryModal .lv-1 li').removeClass('active');
       $(this).addClass('active');
       $('#cat-bredcrumbs ul li.br-lv-1 span').remove();
       $(this).find('.cat-holder-lv-1 span').clone().prependTo('#cat-bredcrumbs ul li.br-lv-1')
    });
    $('#categoryModal .lv-1 li .lv-2 li ').on('click', function () {
       $('#cat-bredcrumbs ul li.br-lv-2 span').remove();
       $(this).find('.cat-holder-lv-2 span').clone().prependTo('#cat-bredcrumbs ul li.br-lv-2')
    });
    </script>
</body>
</html>